<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        .box {
            margin-top: 30px;
            margin-left: 80px;
        }
        
        h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        li {
            list-style: none;
            margin-bottom: 10px;
        }
        
        .btn {
            width: 100px;
            height: 30px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="box">
        <h3>偷得浮生半日闲</h3>
        <ul>
            <% for(var i in num){ %>
                <li>
                    <span><%=num[i].id%></span>
                    <%=num[i].title%>
                </li>
                <% } %>
        </ul>
        <button class="btn">去发表文章</button>
    </div>


    <script src="/jquery1.7.js"></script>
    <script>
        $(function() {
            $('li').on('click', function() {
                const ID = $(this).find('span').text();
                $.ajax({
                    url: '/detail?id=' + ID + '',
                    success: function(data) {
                        location.href = '/detail?id=' + ID + '';
                    }
                })
            })

            $('.btn').on('click', function() {
                location.href = '/addArticle';
            })
        })
    </script>
</body>

</html>